html {
		min-height: 100%;
		position: relative;
		background-color: #1F0000;
}

body {
	height:100%;
}

.container-fluid {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow: hidden;
}

/* Remove the Editting Border */
[contenteditable="true"]:active,
[contenteditable="true"]:focus {
	border:none;
	outline:none;
}

/* Header */
#header-row {
	background-color: #560B12;
}

#header-row h1 {
	color:white;
	font-size: 4vw;
	margin:10px;
}

/* Content */
#content-row {
	padding:1px;
	height:100%;
}

#main-body {
	background-color: #ccc;
	height:100%;
	padding:0;
	margin:0;
}

#main-body h3 {
	font-size: 2vw;
	padding-bottom: 10px;
	margin: 10px 0px 0px 0px;
	border-bottom: 1px solid black;
}

#document-box {
	color:black;
	background-color: #eee;

	height:100%;
	width:100%;

	padding:2em;
	border:none;
	resize:none;

}

#document-box:focus {
	outline:none !important;
	border:none;
}

#side-bar {
	height:100%;
	color:white;
	padding:0;
	background-color: #4A0F21;
}

#stuff-box {
	margin:0;
}

#stuff-box h1 {
	margin: 10px 0 0 0;
	padding: 0 0 10px 0;

	border-bottom: 1px solid black;

	color:white;
	font-size: 2vw;
}

#chat-box {
	width: 100%;

	bottom:0px;
	right: 0px;
	left: 0px;
	margin: 0;

	background-color: #3F1010;

}

#chat-box h1 {

	margin: 10px 0 0 0;
	padding: 0 0 10px 0;

	border-bottom: 1px solid black;

	color:white;
	font-size: 2vw;

}

#chat-field {
	background-color: #aaa;
}

#chat-input {
	width: 100%;
	color:black;

}
