.full-height, html, body, .container-fluid, #control-col, #side-col {
  height: 100%;
  min-height: 100%; }

.container-fluid {
  padding: 0;
  margin: 0; }

/* Header */
#header-row {
  margin: 0 0 1em 0;
  padding: 0; }

#header-box {
  border-bottom: 1px solid #9a9a9a;
  background-color: #03a2fe;
  margin: 0;
  padding: 0; }
  #header-box h1 {
    font-size: 4vw;
    color: white;
    margin: 0;
    padding: 0.25em; }
  #header-box h3 {
    padding-left: 0.75em;
    font-size: 2vw;
    color: white;
    margin: 0; }

/* Content */
#content-row {
  height: 80%;
  padding: 0;
  margin: 0; }

#control-col {
  margin: 0;
  padding: 0; }

#control-pane {
  -webkit-border-radius: 0 1em 1em 0em;
  -moz-border-radius: 0 1em 1em 0em;
  border-radius: 0 1em 1em 0em;
  border: 1px solid #9a9a9a;
  border-left: none;
  padding: 0;
  background-color: #03a2fe;
  width: 100%;
  height: 100%;
  display: table;
  overflow: hidden; }
  #control-pane li {
    display: table-row; }
    #control-pane li span {
      display: table-cell;
      vertical-align: middle;
      padding: 10%; }
      #control-pane li span input {
        display: block;
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important; }

#document-col {
  padding: 0 1em;
  margin: 0;
  height: 100%; }

#document-pane {
  margin: 0;
  height: 100%; }

#document-textarea {
  -webkit-border-radius: 1em 1em 1em 1em;
  -moz-border-radius: 1em 1em 1em 1em;
  border-radius: 1em 1em 1em 1em;
  border: 1px solid #9a9a9a;
  white-space: pre;
  word-wrap: normal;
  padding: 1em;
  overflow: auto;
  color: black;
  width: 100%;
  height: 100%;
  resize: none; }
  #document-textarea:focus {
    outline: none !important;
    border: 2px solid #9a9a9a; }

#side-col {
  padding: 0;
  margin: 0; }

#side-pane {
  -webkit-border-radius: 1em 0 0 1em;
  -moz-border-radius: 1em 0 0 1em;
  border-radius: 1em 0 0 1em;
  height: 100%;
  border: 1px solid #9a9a9a;
  border-right: none;
  background-color: #03a2fe;
  padding: 0;
  margin: 0; }

#user-box {
  height: 25%;
  padding: 0.5em;
  overflow: hidden;
  position: relative;
  font-size: 1vw; }
  #user-box h1 {
    font-size: 3vw;
    color: white;
    padding: 0;
    margin: 0; }

#user-list {
  height: calc(100% - 40px);
  overflow-y: auto; }

#chat-box {
  height: 75%; }

#chat-window {
  -webkit-border-radius: 1em 0 0 0;
  -moz-border-radius: 1em 0 0 0;
  border-radius: 1em 0 0 0;
  border: 1px solid #9a9a9a;
  overflow: auto;
  word-wrap: break-word;
  min-height: calc(100% - 2em + 1px);
  max-height: calc(100% - 2em + 1px);
  background-color: #eee; }

#chat-input {
  -webkit-border-radius: 0 0 0 1em;
  -moz-border-radius: 0 0 0 1em;
  border-radius: 0 0 0 1em;
  padding: 0.5em;
  height: 2em;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid #9a9a9a;
  width: 100%; }
  #chat-input:focus {
    outline: none !important;
    border: 2px solid #9a9a9a; }

.chat-message {
  padding-left: 0.25em; }
