.full-height, html, body, #content-row, #control-box, #main-box, #side-box {
  height: 100%;
  min-height: 100%; }

html {
  position: relative; }

.container-fluid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
  margin: 0; }

/* Header */
#header-row {
  margin: 0;
  padding: 0; }

#header-box {
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.85);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.85);
  -webkit-border-radius: 0em 0em 0.25em 0.25em;
  -moz-border-radius: 0em 0em 0.25em 0.25em;
  border-radius: 0em 0em 0.25em 0.25em;
  border-bottom: 1px solid black;
  background-color: #87CEFA;
  margin: 0;
  padding: 0; }
  #header-box h1 {
    color: white;
    margin: 0;
    padding: 0.25em; }

/* Content */
#content-row {
  padding: 0;
  margin: 1em 0; }

#control-box {
  margin: 0;
  padding: 0; }

#control-pane {
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.85);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.85);
  -webkit-border-radius: 0 0.25em 0.25em 0em;
  -moz-border-radius: 0 0.25em 0.25em 0em;
  border-radius: 0 0.25em 0.25em 0em;
  border: 1px solid black;
  border-left: none;
  padding: 1em;
  background-color: #87CEFA;
  height: 60ex; }

#main-box {
  padding: 0;
  margin: 0; }

#document-pane, #document-display {
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.85);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.85);
  -webkit-border-radius: 0.25em 0.25em 0.25em 0.25em;
  -moz-border-radius: 0.25em 0.25em 0.25em 0.25em;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  border: 1px solid black;
  color: black;
  padding: 1em;
  margin: 0 0.5em;
  height: 60ex;
  resize: none; }

#side-box {
  padding: 0;
  margin: 0; }

#chat-pane {
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.85);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.85);
  -webkit-border-radius: 0.25em 0 0 0.25em;
  -moz-border-radius: 0.25em 0 0 0.25em;
  border-radius: 0.25em 0 0 0.25em;
  border: 1px solid black;
  border-right: none;
  height: 60ex;
  background-color: #87CEFA;
  padding: 0;
  margin: 0; }

#chat-window {
  -webkit-border-radius: 0.25em 0.25em 0.25em 0.25em;
  -moz-border-radius: 0.25em 0.25em 0.25em 0.25em;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
  -webkit-box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.85);
  box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.85);
  margin: 0.5em 0.5em 0 0.5em;
  overflow: auto;
  height: 30ex;
  background-color: #eee; }

#chat-input {
  -webkit-border-radius: 0.25em 0.25em 0.25em 0.25em;
  -moz-border-radius: 0.25em 0.25em 0.25em 0.25em;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
  border: 1px solid black;
  margin-top: 0.5em; }

.chat-message {
  padding-left: 0.25em; }
