$page-color: #03a2fe;
$border-color: #9a9a9a;
$shadow-alpha-main: 0.85;


@mixin rounded($tl, $tr, $bl, $br) {
  -webkit-border-radius:$tl $tr $br $bl;
  -moz-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
}

@mixin shadow($offx, $offy, $blur, $spread, $alpha) {
  -webkit-box-shadow:$offx $offy $blur $spread rgba(0,0,0, $alpha);
  -moz-box-shadow:$offx $offy $blur $spread rgba(0,0,0, $alpha);
  box-shadow:$offx $offy $blur $spread rgba(0,0,0, $alpha);
}

@mixin in-shadow($offx, $offy, $blur, $spread, $alpha) {
  -webkit-box-shadow:inset $offx $offy $blur $spread rgba(0,0,0, $alpha);
  -moz-box-shadow:inset $offx $offy $blur $spread rgba(0,0,0, $alpha);
  box-shadow:inset $offx $offy $blur $spread rgba(0,0,0, $alpha);
}

.full-height {
  height: 100%;
  min-height: 100%;
}

html {
  @extend .full-height;
	position: relative;
}

body {
	@extend .full-height;
}

.container-fluid {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow: hidden;

  padding:0;
  margin:0;
}

/* Header */
#header-row {
  margin:0;
  padding:0;
}

#header-box {
  //@include shadow(2px, 2px, 2px, 0px, $shadow-alpha-main);
  //@include rounded(0em, 0em, 1em, 1em);
  border-bottom:1px solid $border-color;

  background-color: $page-color;

  margin:0;
  padding:0;
  width:100%;

  h1 {
    font-size: 3vw;
    color: white;
    margin:0;
    padding:0.25em;
  }

  h3 {
    padding-left:0.75em;
    font-size: 1vw;
    color:white;
    margin:0;
  }
}

/* Content */
#content-row {
  @extend .full-height;
	padding:0;
  margin:0 0;


}

#control-box {
  margin:0;
  padding:0;

  @extend .full-height;
}

#control-pane {
  //@include shadow(2px, 2px, 2px, 0px, $shadow-alpha-main);
  @include rounded(0, 1em, 0em, 1em);

  border:1px solid $border-color;
  border-left:none;

  padding:0;
  margin:auto;

  background-color:$page-color;

  width:100%;
  display:table;

  overflow: hidden;

  li {
    display:table-row;

    span {
      display:table-cell;
      vertical-align: middle;
      padding:10%;
      input {
        display:block;
        width:100%;
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }
    :first-child, :last-child {
      // max-height:10ex;
    }
  }
}



#main-box {
  @extend .full-height;
	padding:0 1em;
	margin:0;
}

#document-container {
  margin:0 0;
}

#document-pane {
  //@include shadow(1px, 1px, 3px, 0px, $shadow-alpha-main);
  @include rounded(1em, 1em, 1em, 1em);
  border:1px solid $border-color;

  white-space: pre;
  word-wrap: normal;

  overflow:auto;

  color:black;
  width:100%;
  height:60ex;
  resize: none;

  &:focus {
    outline: none !important;
  	border:2px solid #9a9a9a;
  }

}

#document-display {
  @extend #document-pane;
}

#side-box {
  @extend .full-height;
  padding:0;
  margin:0;
}

#chat-pane {
  //@include shadow(1px, 1px, 3px, 1px, $shadow-alpha-main);
  @include rounded(1em, 0, 1em, 0);
  border:1px solid $border-color;
  border-right:none;

  background-color: $page-color;

  padding:0;
  margin:0;
}

#joined-users-box {
  border-bottom: 1px solid black;
  margin: auto;
  h1 {
    margin:0.5ex 0 0 0;
    color:white;
  }

}

#joined-users-list {
  overflow-y: scroll;
  max-height:15ex;
}

#chat-window {
  @include rounded(0.5em, 0.5em, 0, 0);
  //@include in-shadow(1px, 1px, 3px, 1px, $shadow-alpha-main);
  border:1px solid $border-color;

  margin:0.5em 0.5em 0 0.5em;
  overflow: auto;
  word-wrap: break-word;

  min-height:12ex;
  max-height:34ex;

  background-color: #eee;

}

#chat-input-box {
 margin: 0 0.5em 0.5em 0.5em;

  #chat-input {
    @include rounded(0, 0, 0.5em, 0.5em);
    border:1px solid $border-color;
    width:100%;
    &:focus {
    	outline: none !important;
  		border:2px solid $border-color;
  	}
  }
}

#chat-name-box {

  #chat-name {
    &:focus {
      outline: none !important;
    	border:2px solid $border-color;
    }
  }
}

.chat-message {
  padding-left:0.25em;
}
