$page-color: #03a2fe;
$shadow-alpha-main: 0.85;


@mixin rounded($tl, $tr, $bl, $br) {
  -webkit-border-radius:$tl $tr $br $bl;
  -moz-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
}

@mixin shadow($offx, $offy, $blur, $spread, $alpha) {
  -webkit-box-shadow:$offx $offy $blur $spread rgba(0,0,0, $alpha);
  -moz-box-shadow:$offx $offy $blur $spread rgba(0,0,0, $alpha);
  box-shadow:$offx $offy $blur $spread rgba(0,0,0, $alpha);
}

@mixin in-shadow($offx, $offy, $blur, $spread, $alpha) {
  -webkit-box-shadow:inset $offx $offy $blur $spread rgba(0,0,0, $alpha);
  -moz-box-shadow:inset $offx $offy $blur $spread rgba(0,0,0, $alpha);
  box-shadow:inset $offx $offy $blur $spread rgba(0,0,0, $alpha);
}

.full-height {
  height: 100%;
  min-height: 100%;
}

html {
  @extend .full-height;
	position: relative;
}

body {
	@extend .full-height;
}

.container-fluid {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow: hidden;

  padding:0;
  margin:0;
}

/* Header */
#header-row {
  margin:0;
  padding:0;

}

#header-box {
  //@include shadow(2px, 2px, 2px, 0px, $shadow-alpha-main);
  //@include rounded(0em, 0em, 1em, 1em);
  border-bottom:1px solid #9a9a9a;

  background-color: $page-color;

  margin:0;
  padding:0;

  h1 {
    color: white;
    margin:0;
    padding:0.25em;
  }
}

/* Content */
#content-row {
  @extend .full-height;
	padding:0;
  margin:1em 0;

}

#control-box {
  margin:0;
  padding:0;

  @extend .full-height;
}

#control-pane {
  //@include shadow(2px, 2px, 2px, 0px, $shadow-alpha-main);
  @include rounded(0, 1em, 0em, 1em);
  border:1px solid #9a9a9a;
  border-left:none;


  padding:1em;
  background-color: $page-color;

  height:60ex;
}


#main-box {
  @extend .full-height;
	padding:5;
	margin:0;
}

#document-container {
  margin:0 0.5em;
}

#document-pane {
  //@include shadow(1px, 1px, 3px, 0px, $shadow-alpha-main);
  @include rounded(1em, 1em, 1em, 1em);
  border:1px solid #9a9a9a;

  white-space: pre;
  word-wrap: normal;

  overflow:auto;
  padding:1ex;

  color:black;
  width:100%;
  height:60ex;
  resize: none;
	
  &:focus {
    outline: none !important;
  	border:2px solid #9a9a9a;
  }  

}

#document-display {
  @extend #document-pane;
}

#side-box {
  @extend .full-height;
  padding:0;
  margin:0;
}

#chat-pane {
  //@include shadow(1px, 1px, 3px, 1px, $shadow-alpha-main);
  @include rounded(1em, 0, 1em, 0);
  border:1px solid #9a9a9a;
  border-right:none;


  height:60ex;

  background-color: $page-color;

  padding:0;
  margin:0;
}

#chat-window {
  @include rounded(0.5em, 0.5em, 0, 0);
  //@include in-shadow(1px, 1px, 3px, 1px, $shadow-alpha-main);
  border:1px solid #6f6f6f;

  margin:0.5em 0.5em 0 0.5em;
  overflow: auto;
  word-wrap: break-word;

  height:34ex;

  background-color: #eee;

}
#joined-users-box {
 @include rounded(1em, 0, 0, 0);
  border:1px solid #9a9a9a;
  border-right:none;
  border-top:none;
  border-left:none;

  padding:1em;
  background-color: $page-color;

  height:15ex;
}

#chat-input-box {
 margin: -0.1em 0.5em 0 0.5em;
  //display: inline-block;
    #chat-input {
    //display: inline-block;
    @include rounded(0, 0, 0.5em, 0.5em);
    border:1px solid #9a9a9a;
    width:100%;
    &:focus {
    	outline: none !important;
  		border:2px solid #9a9a9a;
  	}
  }
}

#chat-name-box {
  margin:0.5em 0.5em 0 0.5em;
  width:70%;

  display: inline-block;
  p {
    display: inline-block;
  }
  #chat-name {
    display: inline-block;
    width:70%;
    &:focus {
    outline: none !important;
  	border:2px solid #9a9a9a;
  }  
  }
}

.chat-message {
  padding-left:0.25em;
}
