.full-height, html, body, #content-row, #control-box, #main-box, #side-box {
  height: 100%;
  min-height: 100%; }

html {
  position: relative; }

.container-fluid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
  margin: 0; }

/* Header */
#header-row {
  margin: 0;
  padding: 0; }

#header-box {
  border-bottom: 1px solid #9a9a9a;
  background-color: #03a2fe;
  margin: 0;
  padding: 0; }
  #header-box h1 {
    color: white;
    margin: 0;
    padding: 0.25em; }

/* Content */
#content-row {
  padding: 0;
  margin: 1em 0; }

#control-box {
  margin: 0;
  padding: 0; }

#control-pane {
  -webkit-border-radius: 0 1em 1em 0em;
  -moz-border-radius: 0 1em 1em 0em;
  border-radius: 0 1em 1em 0em;
  border: 1px solid #9a9a9a;
  border-left: none;
  padding: 1em;
  background-color: #03a2fe;
  height: 60ex; }

#main-box {
  padding: 5;
  margin: 0; }

#document-container {
  margin: 0 0.5em; }

#document-pane, #document-display {
  -webkit-border-radius: 1em 1em 1em 1em;
  -moz-border-radius: 1em 1em 1em 1em;
  border-radius: 1em 1em 1em 1em;
  border: 1px solid #9a9a9a;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  padding: 1ex;
  color: black;
  width: 100%;
  height: 60ex;
  resize: none; }
  #document-pane:focus, #document-display:focus {
    outline: none !important;
    border: 2px solid #9a9a9a; }

#side-box {
  padding: 0;
  margin: 0; }

#chat-pane {
  -webkit-border-radius: 1em 0 0 1em;
  -moz-border-radius: 1em 0 0 1em;
  border-radius: 1em 0 0 1em;
  border: 1px solid #9a9a9a;
  border-right: none;
  height: 60ex;
  background-color: #03a2fe;
  padding: 0;
  margin: 0; }

#chat-window {
  -webkit-border-radius: 0.5em 0.5em 0 0;
  -moz-border-radius: 0.5em 0.5em 0 0;
  border-radius: 0.5em 0.5em 0 0;
  border: 1px solid #6f6f6f;
  margin: 0.5em 0.5em 0 0.5em;
  overflow: auto;
  word-wrap: break-word;
  height: 34ex;
  background-color: #eee; }

#joined-users-box {
  -webkit-border-radius: 1em 0 0 0;
  -moz-border-radius: 1em 0 0 0;
  border-radius: 1em 0 0 0;
  border: 1px solid #9a9a9a;
  border-right: none;
  border-top: none;
  border-left: none;
  padding: 1em;
  background-color: #03a2fe;
  height: 15ex; }

#chat-input-box {
  margin: -0.1em 0.5em 0 0.5em; }
  #chat-input-box #chat-input {
    -webkit-border-radius: 0 0 0.5em 0.5em;
    -moz-border-radius: 0 0 0.5em 0.5em;
    border-radius: 0 0 0.5em 0.5em;
    border: 1px solid #9a9a9a;
    width: 100%; }
    #chat-input-box #chat-input:focus {
      outline: none !important;
      border: 2px solid #9a9a9a; }

#chat-name-box {
  margin: 0.5em 0.5em 0 0.5em;
  width: 70%;
  display: inline-block; }
  #chat-name-box p {
    display: inline-block; }
  #chat-name-box #chat-name {
    display: inline-block;
    width: 70%; }
    #chat-name-box #chat-name:focus {
      outline: none !important;
      border: 2px solid #9a9a9a; }

.chat-message {
  padding-left: 0.25em; }
