$page-color: #87CEFA;
$shadow-alpha-main: 0.85;


@mixin rounded($tl, $tr, $bl, $br) {
  -webkit-border-radius:$tl $tr $br $bl;
  -moz-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
}

@mixin shadow($offx, $offy, $blur, $spread, $alpha) {
  -webkit-box-shadow:$offx $offy $blur $spread rgba(0,0,0, $alpha);
  -moz-box-shadow:$offx $offy $blur $spread rgba(0,0,0, $alpha);
  box-shadow:$offx $offy $blur $spread rgba(0,0,0, $alpha);
}

@mixin in-shadow($offx, $offy, $blur, $spread, $alpha) {
  -webkit-box-shadow:inset $offx $offy $blur $spread rgba(0,0,0, $alpha);
  -moz-box-shadow:inset $offx $offy $blur $spread rgba(0,0,0, $alpha);
  box-shadow:inset $offx $offy $blur $spread rgba(0,0,0, $alpha);
}

.full-height {
  height: 100%;
  min-height: 100%;
}

html {
  @extend .full-height;
	position: relative;
}

body {
	@extend .full-height;
}

.container-fluid {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow: hidden;

  padding:0;
  margin:0;
}

/* Header */
#header-row {
  margin:0;
  padding:0;

}

#header-box {
  @include shadow(2px, 2px, 2px, 0px, $shadow-alpha-main);
  @include rounded(0em, 0em, .25em, .25em);
  border-bottom:1px solid black;

  background-color: $page-color;

  margin:0;
  padding:0;

  h1 {
    color: white;
    margin:0;
    padding:0.25em;
  }
}

/* Content */
#content-row {
  @extend .full-height;
	padding:0;
  margin:1em 0;

}

#control-box {
  margin:0;
  padding:0;

  @extend .full-height;
}

#control-pane {
  @include shadow(2px, 2px, 2px, 0px, $shadow-alpha-main);
  @include rounded(0, 0.25em, 0em, 0.25em);
  border:1px solid black;
  border-left:none;


  padding:1em;
  background-color: $page-color;

  height:60ex;
}


#main-box {
  @extend .full-height;
	padding:0;
	margin:0;
}

#document-pane {
  @include shadow(1px, 1px, 3px, 0px, $shadow-alpha-main);
  @include rounded(0.25em, 0.25em, 0.25em, 0.25em);
  border:1px solid black;

	color:black;

  padding:1em;
  margin:0 0.5em;

  height:60ex;

  &:focus {
    outline:none !important;
    border:none;  }

}

#side-box {
  @extend .full-height;
  padding:0;
  margin:0;
}

#chat-pane {
  @include shadow(1px, 1px, 3px, 1px, $shadow-alpha-main);
  @include rounded(0.25em, 0, 0.25em, 0);
  border:1px solid black;
  border-right:none;


  height:60ex;

  background-color: $page-color;

  padding:0;
  margin:0;
}

#chat-window {
  @include rounded(0.25em, 0.25em, 0.25em, 0.25em);
  @include in-shadow(1px, 1px, 3px, 1px, $shadow-alpha-main);

  margin:0.5em 0.5em 0 0.5em;
  overflow: auto;

  height:30ex;

  background-color: #eee;

}

#chat-input {
  @include rounded(0.25em, 0.25em, 0.25em, 0.25em);
  border:1px solid black;
  margin-top:0.5em;
}

.chat-message {
  padding-left:0.25em;
}
